*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

@media only screen and (max-width: 800px) {
  html {
    font-size: 50%;
  }
}

body {
    width: 100vw;
    background-color: #F7F7F8;
    width: 100vw;
    height: 100vh;
    font-weight: 400;
    line-height: 1.6;
    font-family: 'Be Vietnam Pro', sans-serif;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
  background-color: transparent;
}
