.section {
    /* width: 100%; */
    padding: 0px 80px;
    max-width: 1488px;
}

.mohammad {
    display: flex;
    flex-direction: column;
    gap: 150px;
    justify-content: space-around;
}

.Our-Testimonials,
.Our-Pricing {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 11vh;
    margin: 0px;
}


.Our-Testimonials .main-description,
.Our-Pricing .main-description {
    display: flex;
    margin: 0px;
    padding: 0px;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 24vw;
}

.Our-Testimonials .main-description .description,
.Our-Pricing .main-description .description {
    margin-right: 90px;
    width: 74%;
    display: flex;
    flex-direction: column;
    gap: 6px;
    justify-content: space-between;
}

.Our-Testimonials .main-description p,
.Our-Pricing .main-description p {
    color: #262626;
    font-weight: 600;
    font-size: 3vw;
    padding: 1vh 0px;
}

.Our-Testimonials .main-description label,
.Our-Pricing .main-description label {
    font-size: 0.8vw;
    color: #59595A;
}

.Our-Testimonials .main-description button {
    background-color: #FCFCFD;
    border: 1px #F1F1F3 solid;
    font-size: 0.8vw;
    color: #262626;
    padding: 13px 17px;
    border-radius: 8px;
    width: 4vw;
    cursor: pointer;
}

.Testimonials-stories {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1.5vw;

}

.Testimonials-stories figure {
    width: 43vw;
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    border: 1px solid #F1F1F3;
    border-radius: 12px;
}

.Testimonials-stories figure label {
    padding: 2.8vw;
    color: #4C4C4D;
    font-size: 0.8vw;

}

.Testimonial {
    display: flex;
    flex-direction: row;
    padding: 1.7vw 2.8vw;
    background-color: #FCFCFD;
    align-items: center;

}

.Testimonial-details {
    flex-grow: 2;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2vw;
}

.Testimonial-details img {
    width: 60px;
    height: 60px;
}

.Testimonial-details p {
    font-size: 0.8vw;
    color: #333333;
    font-weight: 600;
}

.Testimonial button {
    flex-grow: 1;
    font-size: 0.8vw;
    width: 2vw;
    color: #262626;
    background-color: #F7F7F8;
    border-radius: 8px;
    border: 1px solid #F1F1F3;
    padding: 1vw 2vw;
    cursor: pointer;
}

.Our-Pricing .main-description button {}